* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: #333;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
}
.loader {
    position: absolute;
    top: 45%;
    left: 46%;
    transition: opacity 1s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > span {
    display: inline-block;
    background-color: #2487d8;
    width: 0;
    height: 0;
    border-radius: 50%;
    margin: 0 8px;
    transform: translate3d(0);
    animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2){
    background-color: #f4f4f4;
    animation-delay: 0.2s;
}
.loader > span:nth-child(3){
    animation-delay: 0.4s;
}

.container {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 340px;
    transition: top 2s ease-in-out;
}

.heading{
    opacity: 0;
    transition: opacity 2s ease-in;
    margin: 1rem;
    color: #fff;
    font-size: 3rem;
    font-family: 'Arial', Helvetica, sans-serif;
}

.options {
    background: #dcd6bc;
    padding: .25rem;
}

.options select {
    background-color: #f4f4f4;
    font-size: 1rem;
    padding: .25rem;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', Arial, sans-serif;
}

.flags {
    font-size: 1.3rem;
    display: inline-block;
    margin-left: 3rem;
}

#refresh {
    font-size: 1.3rem;
    cursor: pointer;
    margin-left: 3.5rem;
}

#refresh:active {
    transform: scale(0.9); 
}

#sound {
    font-size: 1.3rem;
    cursor: pointer;
}

.grid {
    border: #dcd6bc solid .3rem;
    background: #dcd6bc;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.grid div {
    height: 2rem;
    width: 2rem;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    font-size: 1.25rem;
}

div.checked {
    border: 2px solid;
    border-color: #9c998d;
    background-color: #cecab7;
}

.result {
    opacity: 0;
    margin: 1rem;
    height: 2.5rem;
    color: #e76346;
    font-size: 2.5rem;
    transition: opacity .5s ease-out;
}

@keyframes bounce {
    to {
        width: 16px;
        height: 16px;
        transform: translate3d(0, -16px, 0);
    }
}
