* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    background: #333;
    font-family: 'Roboto Mono', monospace;
}

header h1{
    color: #fff;
    font-size: 3rem;
    padding: .5rem;
    padding-top: 0;
    margin: .5rem;
    text-align: center;
    font-family: 'Arial', Helvetica, sans-serif;
}

.container {
    max-width: 425px;
    margin: auto;
    text-align: center;
}

.options {
    background: #dcd6bc;
    padding-top: .5rem;
}

.options select {
    background-color: #f4f4f4;
    font-size: 1.25rem;
    padding: .25rem;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', Arial, sans-serif;
}

.flags {
    font-size: 25px;
    display: inline-block;
    margin-left: 5rem;
}

#refresh {
    font-size: 25px;
    margin-left: 4.5rem;
    cursor: pointer;
}

#refresh:active {
    transform: scale(0.9); 
}

#sound {
    cursor: pointer;
    font-size: 25px;
}

.grid {
    border: #dcd6bc solid .5rem;
    background: #dcd6bc;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 1rem;
}

.grid div {
    height: 2.5rem;
    width: 2.5rem;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    font-size: 25px;
}

div.checked {
    border: 2px solid;
    border-color: #9c998d;
    background-color: #cecab7;
}

.result {
    color: #e76346;
    font-size: 2.5rem;
}
